<section class="content-body">
  <div class="col-md-12 no-padding">
    <div class="box">
      <div class="box-header">
        <!--<div class="box-tools pull-right">
      <button mat-icon-button color="warn" aria-label="Close" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>-->
        <h3 class="box-title">Home</h3>
      </div>
      <!--<form name="form" action="javascript:{}" #form="ngForm" novalidate autocomplete="off">
    <div id="details" class="row">

    </div>
  </form>-->



    </div>
  </div>
</section>
