<app-menu></app-menu>
<aside id="mainNavMenu" class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Main Navigation</li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['home']"><span>Home</span></a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['subnets']"><span>Subnets</span></a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['ipaddresses']"><span>IP Addresses</span></a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['settings']"><span>Settings</span></a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['jobs']"><span>Jobs</span></a></li>
    </ul>
  </section>
</aside>

<div id="ContentWrapper" class="content-wrapper">
  <router-outlet></router-outlet>
</div>
