<section class="content-header">
	<h1>Jobs</h1>
	<button mattooltip="Add New Job" class="mat-tooltip-trigger btn btn-xs btn-info" tabindex="0"
		aria-describedby="cdk-describedby-message-0" cdk-describedby-host="">New Job</button>
</section>
<section class="content-body">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th data-column="Reference" class="table-sorter">Reference</th>
				<th data-column="Name" class="table-sorter">Name</th>
				<th data-column="GroupId" class="table-sorter">Group</th>
				<th data-column="PriorityId" class="table-sorter">Priority</th>
				<th data-column="ResolutionSLA" class="table-sorter">Resolution SLA</th>
				<th data-column="Remarks" class="table-sorter">Remarks</th>
				<th data-column="TicketId" class="table-sorter">Ticket Id</th>
				<th data-column="UpdatedOn" class="table-sorter">Updated On</th>
				<th data-column="UpdatedBy" class="table-sorter">Updated By</th>
				<th *ngIf="jobs.length"></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf='jobs && jobs.length > 0'>
				<tr *ngFor='let job of jobs'>
					<td>{{job.reference}}</td>
					<td>{{job.name}}</td>
					<td>{{getGroupName(job.group_Id)}}</td>
					<td>{{getPriorityName(job.priority_Id)}}</td>
					<td>{{job.resolution_SLA}}</td>
					<td>{{job.remarks}}</td>
					<td>{{job.ticket_Id}}</td>
					<td>{{job.updated_On | date:'dd/MM/yyyy'}}</td>
					<td>{{job.updated_By}}</td>
					<td class="text-center" *ngIf="jobs.length">
						<a><i title="Edit" class="fa fa-edit" style="font-size: 14px; cursor: pointer;"></i></a>
						&nbsp;&nbsp;
						<a><i title="Remove" class="fa fa-trash" style="font-size: 14px; cursor: pointer; color: red;"
								(click)="remove(job.id)"></i></a>
					</td>
				</tr>
			</ng-container>
			<tr *ngIf='jobs == null || jobs.length == 0'>
				<td colspan="9" style="text-align: center;">
					{{statusMessage}}
				</td>
			</tr>
		</tbody>
	</table>
</section>